*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;

}
html,body{
    height: 100%;
    width: 100%;
}



  
  
  
footer{
    height: 70vh;
    width: 100%;
    background-color: rgb(193, 202, 193);
    overflow: hidden;
}
#vast{
    height: 60vh;
    width: 100%;
    padding: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.326);
}
#first{
display: flex;
align-items: center;
flex-direction: column;
}
#first h1{
    margin-top: -50px;
    color: green;
}
#second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}
#second h4{
    font-size: 1.1vw;
    font-weight: 600;
   font-family: monospace;   
}
#second h4:hover{
    color: rgba(165, 97, 42, 0.873);
    text-decoration: underline;
    cursor: pointer;
}
#down{
    display: flex;
    align-items: center;
    gap:3vw;
    margin: 1vw;
}
#box{
display: flex;
align-items: center;
justify-content: space-between;
gap: 2vw;
}
#box1{
    height:4vh;
    width: 4vh;
border-radius: 50%;
background-color: #3A559F;
padding: 0.2vw;
}
#box1 i{
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#box2{
    height:4vh;
    width: 4vh;
border-radius: 50%;
background:linear-gradient(	#FF6968,#A334FA,#0695FF,#FFFFFF);
padding: 0.2vw;
}
#box2 i{
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#box3{
    height:4vh;
    width: 4vh;
border-radius: 50%;
background:linear-gradient(#f9ce34,#ee2a7b, #6228d7);
padding: 0.2vw;
}
#box3 i{
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#box4{
    height:4vh;
    width: 4vh;
border-radius: 50%;
background-color: #1DA1F2;
padding: 0.2vw;
}
#box4 i{
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
